.tavue-rows {
  display: flex;
  flex-direction: column;
}

.tavue-row {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.tavue-row.tavue-tree-row {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.tavue-tree-row>.tavue-tree-row-children {
  display: none;
}

.tavue-tree-row.tavue-tree-row-opened>.tavue-tree-row-children {
  display: flex;
}

.tavue-cell {
  flex: 0 0 auto;
  box-sizing: border-box;
}

.tavue-table.resizing {
  user-select: none;
}